{% extends 'base.html.twig' %}

{% block title %}Página no encontrada{% endblock %}

{% block body %}
    <h1>Página no encontrada</h1>
    <p>Lo sentimos, la página {{resource}} que estás buscando no está disponible </p>
{% endblock %}
